<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="Pizza" connectionString="Server=tcp:shashantserver.database.windows.net,1433;Initial Catalog=shashantdatabse;Persist Security Info=False;User ID=shashantadmin;Password=Sha@12345678;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>