
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        <!------ Include the above in your HEAD tag ---------->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <br />
                    <div class="error-template col-10">
                        <h1 class="label label-success" style="font-size: 20px;">
                            Payment has been successfully done! Order delver ...  Order ID  #hj24389kdnx


                        </h1>

                       
                       
                    </div>
                </div>
            </div>
        </div>
  
